
a{
    color: black;
    font-size:25px ;
    font-weight: bold;
}

 
#name h1{
    
    font-family:Arial, Helvetica, sans-serif;
    font: size 200px;
    font-weight: 850;
    padding-left:450px;
  background-color: #e8a045;
  margin-top: 10px;
  margin-left: 10px;
  margin-right:10px;

}

.intro{
    position:relative;
}

.intro h2{
    position:absolute;
    left:450px;
    top:20px;
    font-family:'Playfair Display',serif;

  
    display:flex;
    flex-direction: column;
    width:20%;
    line-height: 1.1em;
    font-size:x-large;
    font-weight: bold;
    color:#e8a045;
    font-size: 2.8rem;
    text-align: center;
    right:150px;

}

.info{
position:relative;

}

.info p{
    position:absolute;
    top:280px;
    left:148px;
    line-height:1.9em;
    width:70%;
    text-transform: uppercase;
    font-weight: 500;
    color:white;
    text-align:center;
word-spacing:8px;
}



.button button{
    background-color:#e8a045;
    width:24%;
    height:30px;
    padding-right:90px;
    padding-left:100px;
    margin-left:80px;
    margin-top:500px;
    margin-left:200px;
   margin-right: 0px;
   margin-bottom:100px;

}

.me{
    position:relative;
        
}

.me img{
    position:absolute;
    left:500px;
   
    
  
 border-radius:50%;
 overflow:hidden;
}

.education{
    position:relative;
     
    
}

.education ol{
    list-style: none;
    position:absolute;
    top:250px;
    font-weight: 400;
    font-size:110%;
    font-style: bold;
    line-height: 1.4em;
    text-transform: uppercase;
       background-color:#112234;
       margin-left:20px;
    height:175px;
    display:grid;
    
    color:white;
    border:3px#e8a045 solid;
    
   border-radius:10px;
   border-radius:20px;
   box-shadow:0 8px 28px rgb(0,0,0,0.3);
  
      
}

.Skills{
    position:relative;
   
  
}

.Skills ol{
   list-style: none;  
   position:absolute;
   display:flex;
   flex-direction: column;
  align-items:fkex-start;

   height: 175.5px;
   top:250px;
   left:400px;
   line-height:1.6em;
   background-color:#112234;
   width: 26%;
   margin-left:13px;
  
  
   color:white;
    border:3px#e8a045 solid;
    
   border-radius:10px;
   border-radius:20px;
   box-shadow:0 8px 28px rgb(0,0,0,0.3);
   
}

.c{
    position:relative;
   display:grid;
}

.c ol{
   position:absolute;
   list-style: none;
   left:800px;
   top:250px;
   height:175px;
   line-height: 1.7em;
 background-color:#112234;
   margin-left:5px;
   margin-right:0%;
  

   color:white;
    border:3px#e8a045 solid;
    
   border-radius:10px;
   border-radius:20px;
   box-shadow:0 8px 28px rgb(0,0,0,0.3);
  

}

body{
    background-color:#0d1b2a;
    background-color: hsl(210,53%,11%);
  
    margin-top:40px;
   
}



.g{
    position:relative;
  
   
}

.g h3{
    position:absolute;
    left:360px;
    bottom:5px;
    margin:13%;
    color:#e8a045
  
  ;
}

.p{
      position:relative;
     margin-top:50px;
     padding-bottom: 30px;
     margin:10%;
}
.p h3{
    position:absolute;
   color:#e8a045;
   left:400px;  


}

.contact{
    color:#e8a045;
   margin:0 auto;
   line-height:1.8em;
   word-spacing:0.3em; 
   max-width: 700px;    
   mix-blend-mode: lighten;
   text-align: center;
   font-family: 'Playfair Display',serif;
}
.contact p{
    color:#f5f0e8;
    text-align:center;
}

.work{
        color:#e8a045;
   margin:0 auto;
   line-height:1.8em;
   word-spacing:0.3em; 
   max-width: 700px;    
   mix-blend-mode: lighten;
   text-align: center;
   font-family: 'Playfair Display',serif;

}

.work p{
    color:#f5f0e8;
    text-align: center;

}
  
  
